@import "../_custom.scss";

@mixin gradient-1 {
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), $url-1;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}