p {
    color: rgb(50, 50, 50);
}

div {
    color: rgb(50, 50, 50);
}

h2 {
    color: rgb(50, 50, 50);
}

h3 {
    color: rgb(50, 50, 50);
}

h4 {
    color: rgb(50, 50, 50);
}

ul li{
    color: rgb(50, 50, 50);
}
