@import "../_custom.scss";
@import "../components/mixins";

.intro-row {
    background-color: #f8f9fa;
}

.intro-section.hide{
    height: 32rem;
    background-color: #f8f9fa;
    background-image: url("../../images/pollockbag.png");
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: center;
    opacity: 0;
 
}

.intro-section{
    height: 32rem;
    background-color: #f8f9fa;
    background-image: url("../../images/pollockbag.png");
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: center;
    opacity: 1;
    transition: opacity 1s ease-in, background-size 1.3s;
    
}

#intro-section {transition-timing-function: linear;}

.main-section {
    background-color: grey;
    z-index: 1;
}

.buttons{
    display: flex;
    justify-content: center;
}

.buttons-row {
    background-color: #f8f9fa;
    padding-top: 1rem;
}

.example-section {
    display: flex;
    justify-content: center;
    height: 20rem;
    background-color: #f8f9fa;
}

.example-section img {
    margin-top: 4rem;
    cursor: pointer;
    height: 250px;
    width: 250px;
    transition: all 0.2s;
}

.example-section img:hover {
    margin-top: 4rem;
    cursor: pointer;
    height: 260px;
    width: 260px;
}

.example-title {
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
    height: 2rem;
}

.example-title p {
    font-size: 1.3rem;
}

.example-price {
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
    height: 2rem;
}

.example-stock {
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
    height: 2rem;
}

.example-stock p{
    line-height: 10px;
}

.about {
    height: 12rem;
    margin-top: 1rem;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #f8f9fa;
    height: 5rem;
}

.about-section h2 {
    margin-top: 1rem;
}

.about-section p {
    font-size: 1.2rem;
    text-align: center;
}

.story {
    display: inline-block;
    text-decoration: none;
    z-index: 1;
    line-height: 25px;
    font-weight: 400;
    font-size:1.1rem;
    position:relative;
    top:2px;
    cursor:pointer;
}

.story::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
    z-index: 999999;
  }

.story:hover::after{
    width: 100%;
    //transition: width .3s;
}


.item-desc{
    height: 28rem;
    margin-left: 4rem;
    
}

.image-container {
    display: flex;
    justify-content: end;
}

.image-container img {
    height: 200px;
}

.image-container-1{
    display: flex;
    justify-content: start;
}

.image-container-1 img {
    height: 200px;
}

.images-row {
    background-color: #f8f9fa;
}

.images-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sticky-row {
    height: 450px;
    background-color: #f8f9fa;
}

.sticky-col {
    height: 450px;
}

.sharp {
    position:relative;
    height:100%;
    width: 100%;
    overflow:hidden;
}

.sticky-col-1 {
    height:110%;
    width: 110%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),  url("../../images/poll3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:  800px 450px;
    background-position: right bottom;
    z-index: 1;
    left:-15px;
    right:-15px;
    top:-15px;
    bottom:-15px;
    position: absolute;
    display: flex;
    justify-content: center;
    filter: blur(9px);
}

.sticky-col-1 img {
    height: 300px;
    width: 300px;
    border: 2px solid black;
}

.sticky-box {
    width: 400px;
    height: 250px;
    position: relative;
    top:75px;
    left: 125px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 30px;
}

.sticky-box p {
    color: rgb(41, 41, 41);
    height: 4rem;
}

.sticky-box h3 {
    color: rgb(41, 41, 41);
    padding: 0.5rem 0;
}

.bg-filter {
    backdrop-filter: blur(9px);
}

.module {
    position: relative;
    overflow:hidden;
    display: flex;
    justify-content:center;
    align-items:center;
    
  }
  .module::before {
    content: "";
    position: absolute;
    left:-15px;
    right:-15px;
    top:-15px;
    bottom:-15px;
    background:  url("../../images/DSC05488.jpg");
    background-attachment: fixed;
    
    background-size: cover;
    background-position: center;
    filter: blur(5px);
  }
  .module-inside {
    /* This will make it stack on top of the ::before */
    position: relative;
  }

  .sticky-img {
      width: 500px;
      height: 325px;
      background-image: url("../../images/DSC05488.jpg") ;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      top:0;
  }

  .customer {
      background-color: #f8f9fa;
      height: 8rem;
      
  }

  .customer-row {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .customer-2 {
    background-color: #f8f9fa;
    height: 14rem;
   
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.customer-row-2 {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
   
    width: 6rem;
}

.footer {
    height: 20rem;
    background-color: azure;
    padding-left: 3rem;
}

.footer-policies {

}

.footer-policies ul{
    list-style: none;
    line-height: 2rem;
    font-size: 0.9rem;
    color: rgb(56, 56, 56);
    margin-top: 3rem;
}

.footer-join {

}

.footer-join ul{
    list-style: none;
    line-height: 2rem;
    font-size: 0.9rem;
    color: rgb(41, 41, 41);
    margin-top: 3rem;
}

.footer-join ul li{
    
}

.footer-input {
   border: none;
   background-color: azure;
}

.footer-input::placeholder {
    color: black;
  }

.footer-input-style{
    display: flex;
}

.footer-sub {
   border: none;
   background-color: azure;
}

.footer-icons {
   display: flex; 
   gap: 2%;
}

.currency {
    display: flex;
    background-color: azure;
    justify-content: start;
    padding-bottom: 2rem;
}

.currency-pos {
    margin-left:5rem;
    display:flex;
    gap:1%; 
}

.cards {
    display: flex;
    background-color: azure;
    justify-content: start;
}

.cards-pos {
    margin-left:5rem;
    display:flex;
    gap:4%; 
    margin-bottom:1rem;
}

.cards img {
    width: 40px;
    height: 40px;
    background-color: azure;
}

.footer-copy {
    display: flex;
    background-color: azure;
    justify-content: end;
    align-items: center;
}

.footer-icon {
    display: flex;
    position: relative;
    margin-right: 80px;
    align-items: center;
}

.footer-icon p {
    margin-top: 13px;
}